<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="boxbig">
        <div class="texttop">
          <div class="city">
            <div class="flextre">
              <span class="countrinfo"></span>
              <div class="frominfo"></div>
            </div>
            <div class="city_info">
              <span class="city_info_map"></span>
              <span class="city_length_info"></span>
            </div>
            <div class="img">
              <div class="flag">
              </div>
            </div>
            <div class="current_info">
              <span class="blok">Shamol tezligi (m/s)<span class="hbs_t"></span></span>
              <span class="blok">Shamol &deg;C(darajada)<span class="hbs_s"></span></span>
              <span class="blok">Jonli vaqt:<span class="hbs_d"></span></span>
            </div>
          </div>
          <div class="weathinfo">
            <div class="flbox">
              <span class="fst_n"></span>
              <div class="info_day"></div>
              <div class="divalign"><span class="blok2">Issiqlik:<span class="fst_r"></span></span><span
                  class="deg">&deg;C</span></div>
              <div class="divalign"><span class="blok2">Namlik:<span class="fst_h"></span></span><span
                  class="ffle">%</span></div>
              <div class="divalign"><span class="blok2">Bosim:<span class="fst_y"></span></span></div>
            </div>
          </div>
        </div>
        <hr>
        {{!-- <div class="weath_bottom">
          <div class="div" name="current">
            <div class="left_inner">
              <span class="sef_c">Qo'shimcha malumot kunlik</span>
              <span class="sef_g">Qo'shimcha malumot kunlik</span>
            </div>
            <div class="right_inner">
              <span class="fvg_g">Qo'shimcha malumot kunlik</span>
              <span class="fvg_j">Qo'shimcha malumot kunlik</span>
            </div>
          </div>
          <div class="div" name="current">
            <div class="left_inner">
              <span class="sef_c">Qo'shimcha malumot kunlik</span>
              <span class="sef_g">Qo'shimcha malumot kunlik</span>
            </div>
            <div class="right_inner">
              <span class="fvg_g">Qo'shimcha malumot kunlik</span>
              <span class="fvg_j">Qo'shimcha malumot kunlik</span>
            </div>
          </div>
        </div> --}}
      </div>
    </div>
  </div>
</div>