* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(44, 44, 44);
    text-shadow: none;
}

.col-12 {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: #ffffff;
}

.container {
    max-width: 1517px;
    margin-top: 100px;
}

#navbarTogglerDemo02 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flbox {
    width: 100%;
    height: 37%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.form-control {
    width: 700px;
}

.container-fluid {
    background: #bfbfbf;
}

.boxbig {
    width: 100%;
    height: 606px;
    margin-top: 3px;
    box-shadow: 0 0 11px 2px #a9a9a9;
    border-radius: 9px;
}

.texttop {
    width: 100%;
    height: 233px;
    position: relative;

}

.texttop2 {
    width: 100%;
    height: auto;
    position: relative;
    padding: 9px;
}

.city {
    width: 657px;
    height: 100%;
    padding-left: 11px;
}

.city_info_map {
    font-size: 53px;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 5px;
    color: rgb(147 45 45);
    border-bottom: 1px solid;
}

.weathinfo {
    width: 100%;
    height: 371px;
    text-align: end;
    padding-right: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fst_n {
    font-family: 'Varela Round', sans-serif;
    font-size: 63px;
    letter-spacing: 1px;
    color: rgb(44, 44, 44);
    filter: drop-shadow(0 0 5px rgb(136, 136, 136));
    width: 100%;
    height: 111px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fst_n img {
    width: 151px;
}

.fst_h {
    text-align: end;
    font-family: 'Varela Round', sans-serif;
    font-size: 27px;
    letter-spacing: 1px;
    color: #fff;
    padding-left: 9px;
}

.fst_r {
    text-align: end;
    font-family: 'Varela Round', sans-serif;
    font-size: 27px;
    letter-spacing: 1px;
    color: #fff;
    padding-left: 9px;
}

.blok {
    display: block;
}

.blok2 {
    display: block;
    font-size: 27px;
    font-family: 'Varela Round', sans-serif;
    color: #959595;
}

.divalign {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 19px;
    border-bottom: 1px solid;
}

.fst_y {
    text-align: end;
    font-family: 'Varela Round', sans-serif;
    font-size: 27px;
    letter-spacing: 1px;
    margin-top: 11px;
    color: #fff;
    padding-left: 9px;
}

/* ============================================================ */
.hbs_t {
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 3px;
    padding-left: 19px;
    color: #fff;
}

.hbs_s {
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 3px;
    padding-left: 19px;
    color: #fff;
}

.hbs_d {
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 3px;
    padding-left: 19px;
    color: #fff;
}

.boxbig {
    background: #0a0a0a;
    text-shadow: 0 0 5px rgb(173, 192, 223);
}

.boxbig2 {
    background: #050505;
    text-shadow: 0 0 5px rgb(173, 192, 223);
    height: auto;
    box-shadow: 0 0 11px 2px #a9a9a9;
    border-radius: 9px;
}

.weath_bottom {
    width: 100%;
    background: #cfe5ff;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}

hr {
    margin: 0;
}

.div {
    width: 100%;
    height: 101px;
    background: #242424;
    margin-top: 9px;
    margin-bottom: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div:first-child {
    border-right: 3px solid rgb(100, 100, 100);
}

.left_inner {
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding-left: 15px;
}

.right_inner {
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding-right: 15px;
}

.sef_c {
    display: block;
    text-align: start;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    color: #dae9ff;
    text-shadow: none;
    font-size: 19px;
    letter-spacing: 1px;
}

.sef_g {
    display: block;
    text-align: start;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-shadow: none;
    font-size: 19px;
    letter-spacing: 1px;
}

.fvg_g {
    display: block;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    color: #d2e1f8;
    text-shadow: none;
    font-size: 19px;
    letter-spacing: 1px;
}

.fvg_j {
    display: block;
    text-align: end;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    color: #f5f9ff;
    text-shadow: none;
    font-size: 19px;
    letter-spacing: 1px;
}

.current_info .blok {
    border-bottom: 1px solid;
    color: #b6caf0;
}

.city_info {
    display: flex;
    align-items: center;
    align-items: flex-end;
}

.city_length_info {
    font-size: 17px;
    letter-spacing: 2px;
    border-bottom: 1px solid;
    width: 87%;
    padding-left: 185px;
    color: #fff;
}

.deg {
    font-size: 25px;
}

.ffle {
    font-size: 25px;
}

.flag {
    width: 100%;
    height: 100%;
}

.img {
    width: auto;
    height: auto;
    margin-left: 9px;
    border-radius: 3px;
    position: absolute;
    left: 665px;
    top: 18px;
    width: 242px;
    margin-left: 52px;
}

.figbig {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 11px rgb(49, 49, 49));
    border-radius: 3px;
}

.frff_l {
    display: block;
    text-align: start;
    padding-left: 9px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
}

.frff_l2 {
    display: block;
    text-align: start;
    padding-left: 9px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
}

.frff_l3 {
    display: block;
    text-align: start;
    padding-left: 9px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
}

.frff_l4 {
    display: block;
    text-align: start;
    padding-left: 9px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
}

.frff_l5 {
    display: block;
    text-align: start;
    padding-left: 9px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
}

.frff_l6 {
    display: block;
    text-align: start;
    padding-left: 9px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
}

.frff_l7 {
    display: block;
    text-align: start;
    padding-left: 9px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
}

.frff_ff {
    display: block;
    text-align: start;
    padding-left: 9px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
}

.frff_ff2 {
    display: block;
    text-align: start;
    padding-left: 9px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
}

.frff_ff3 {
    display: block;
    text-align: start;
    padding-left: 9px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
}

.frff_ff4 {
    display: block;
    text-align: start;
    padding-left: 9px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
}

.frff_ff5 {
    display: block;
    text-align: start;
    padding-left: 9px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
}

.frff_ff6 {
    display: block;
    text-align: start;
    padding-left: 9px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
}

.frff_ff7 {
    display: block;
    text-align: start;
    padding-left: 9px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
}

.feeef_l {
    text-align: end;
    padding-right: 9px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
}

.fewg_ff {
    text-align: end;
    padding-right: 9px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
}

.info_day_top {
    padding-left: 11px;
    font-size: 21px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-weight: 700;
    width: 100%;
    height: auto;
    background-color: rgb(29, 29, 29);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.flexbox {
    margin-bottom: 9px;
    box-shadow: 0 0 9px 2px rgb(63, 63, 63);
    border-radius: 9px;
}

.post {
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(255, 61, 61);
    letter-spacing: 1px;
    font-weight: 700;
}

.weather_info,
.weather_info2,
.weather_info3,
.weather_info4,
.weather_info5,
.weather_info6,
.weather_info7 {
    width: 200px;
    height: 100%;
    background-color: #959595;
    display: flex;
    justify-content: center;
}

.back {
    width: 30%;
    height: 100%;
    background-image: linear-gradient(45deg, black, transparent)
}

.day1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 59px;
    background-color: #fff;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.day124324q {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}

.day124324w {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}

.day124324e {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}

.day124324r {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}

.day124324t {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}

.day124324y {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}

.day124324u {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}

.day242323q {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}
.day242323w {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}
.day242323e {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}
.day242323r {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}
.day242323t {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}
.day242323y {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}
.day242323u {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}

.day4234q {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}
.day4234w {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}
.day4234e {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}
.day4234r {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}
.day4234t {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}
.day4234y {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}
.day4234u {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}

.day312443q {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}
.day312443w {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}
.day312443e {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}
.day312443r {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}
.day312443t {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}
.day312443y {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}
.day312443u {
    font-size: 19px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(29, 96, 250);
    letter-spacing: 1px;
}

.frominfo {
    font-size: 63px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #d9e4fa;
    text-shadow: none;
}

.flextre {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}

.countrinfo {
    font-size: 63px;
    font-family: 'Varela Round', sans-serif;
    padding-right: 19px;
    color: #959595;
    text-shadow: none;
}

.info_day {
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: -8px;
    display: list-item;
}

.info_day::marker {
    color: red;
}

.fdce {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.fdce .info_day {
    flex-direction: column;
    color: #959595;
    text-align: start;
    font-size: 13px;
    margin-left: 23px;
}

.left_box {
    width: auto;
    height: 100%;
}